.ipynb_checkpoints
__pycache__
*.egg-info
Gemfile*
Gemfile.lock
docs/_site
build
dist
.vscode
*.gif
*.csv
*/data/*
*.parquet
tmp
_docs/
sidebar.yml
.DS_Store
.gitattributes
.gitconfig
nbs/.last_checked
_proc
lightning_logs/
/**/data/
debug_run

longhorizon/
_old/
data
mlruns
checkpoints
nbs/_extensions/mintlify
*.env
.coverage*

# ignore files created in the docs folder
docs/*.md
docs/**/*.mdx

docs-scripts
docs/mintlify/examples

nbs/_extensions
.quarto

*.png