version: 2.1
jobs:
  pytest:
    resource_class: xlarge
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
      - run:
          name: Run pytest
          no_output_timeout: 20m
          command: |
            source .venv/bin/activate
            uv pip install ".[dev]"            
            export GIT_PYTHON_REFRESH=quiet
            pytest -k "not test_autonlinear_longer_horizon"
  test-model-performance:
    resource_class: xlarge
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
      - run:
          name: Run model performance tests
          command: |
            source .venv/bin/activate
            uv pip install -e ".[dev]"
            cd ./action_files/test_models/
            uv pip install -r requirements.txt
            python -m src.models
            python -m src.evaluation
            cd ../../
      - store_artifacts:
          path: ./action_files/test_models/data/evaluation.csv
          destination: evaluation.csv
  test-model-performance2:
    resource_class: xlarge
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
      - run:
          name: Run model performance tests
          command: |
            source .venv/bin/activate
            uv pip install -e ".[dev]"
            cd ./action_files/test_models/
            uv pip install -r requirements.txt
            python -m src.models2
            python -m src.evaluation2
            cd ../../
      - store_artifacts:
          path: ./action_files/test_models/data/evaluation.csv
          destination: evaluation.csv
  test-multivariate-model-performance:
    resource_class: xlarge
    docker:
      - image: python:3.10-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install uv
            uv venv --python 3.10
      - run:
          name: Run model performance tests
          command: |
            source .venv/bin/activate
            uv pip install -e ".[dev]"
            cd ./action_files/test_models/
            uv pip install -r requirements.txt
            python -m src.multivariate_models
            python -m src.multivariate_evaluation
            cd ../../
      - store_artifacts:
          path: ./action_files/test_models/data/multi_evaluation.csv
          destination: multi_evaluation.csv

workflows:
  sample:
    jobs:
      - pytest
      - test-model-performance
      - test-model-performance2
      - test-multivariate-model-performance
